<div class="container-menu-top">

    <!-- Logotipo -->
    <div class="container-logo">

        <!-- Logo -->
        <img 
            src="assets/images/github-logo.png" 
            alt="Github logo" 
            title="Github logo" />

        <!-- Title -->
        <p class="title">Github list users</p>
    </div>

    <!-- Options -->
    <div class="container-options">
        <a 
            class="links"
            href="/" 
            routerLinkActive="active"
            [routerLink]="['/home']">home
        </a>
    </div>
</div>