@font-face {
    font-family: "icons";
    src: url("./icons.eot?03691272ff2c9a8eb7ad0dbe327e8974#iefix") format("embedded-opentype"),
url("./icons.woff2?03691272ff2c9a8eb7ad0dbe327e8974") format("woff2"),
url("./icons.woff?03691272ff2c9a8eb7ad0dbe327e8974") format("woff");
}

i[class^="github-"]:before, i[class*=" github-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.github-check:before {
    content: "\f101";
}
.github-close:before {
    content: "\f102";
}
.github-danger:before {
    content: "\f103";
}
.github-details:before {
    content: "\f104";
}
.github-info:before {
    content: "\f105";
}
.github-refresh:before {
    content: "\f106";
}
.github-trash:before {
    content: "\f107";
}
